doctype html
head
  // Site made with Mobirise Website Builder v4.12.4, https://mobirise.com
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='generator' content='Mobirise v4.12.4, mobirise.com')
  meta(name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1')
  link(rel='shortcut icon' href='assets/images/logo4.png' type='image/x-icon')
  meta(name='description' content='Web Creator Description')
  title Table
  link(rel='stylesheet' href='assets/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet' href='assets/bootstrap/css/bootstrap-grid.min.css')
  link(rel='stylesheet' href='assets/bootstrap/css/bootstrap-reboot.min.css')
  link(rel='stylesheet' href='assets/facebook-plugin/style.css')
  link(rel='stylesheet' href='assets/tether/tether.min.css')
  link(rel='stylesheet' href='assets/datatables/data-tables.bootstrap4.min.css')
  link(rel='stylesheet' href='assets/theme/css/style.css')
  link(rel='preload' as='style' href='assets/mobirise/css/mbr-additional.css')
  link(rel='stylesheet' href='assets/mobirise/css/mbr-additional.css' type='text/css')
section#table1-d.section-table.cid-s9yGE98NPn
  .container.container-table
    .table-wrapper
      .container
      .container.scroll
        table.table(cellspacing='0' data-empty='No matching records found')
          thead
            tr.table-heads
              th.head-item.mbr-fonts-style.display-7
                | VNAME
              th.head-item.mbr-fonts-style.display-7
                | NNAME
              th.head-item.mbr-fonts-style.display-7
                | GESCHLECHT
              th.head-item.mbr-fonts-style.display-7
                | KLASSE
              th.head-item.mbr-fonts-style.display-7
                | UNTERRICHT
          tbody
              each n in data  
                tr
                  td.head-item.mbr-fonts-style.display-7
                    |#{n.vname}
                  td.head-item.mbr-fonts-style.display-7
                    |#{n.nname}
                  td.head-item.mbr-fonts-style.display-7
                    |#{n.geschlecht}
                  td.head-item.mbr-fonts-style.display-7
                    |#{n.klasse}
                  td.head-item.mbr-fonts-style.display-7
                    |#{n.unterricht}
             
         
      .container.table-info-container
script(src='js/panel.js')
section.engine
  a(href='https://mobirise.info/l') free site templates
script(src='assets/web/assets/jquery/jquery.min.js')
script(src='assets/popper/popper.min.js')
script(src='assets/bootstrap/js/bootstrap.min.js')
script(src='https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5')
script(src='https://apis.google.com/js/plusone.js')
script(src='assets/facebook-plugin/facebook-script.js')
script(src='assets/tether/tether.min.js')
script(src='assets/smoothscroll/smooth-scroll.js')
script(src='assets/datatables/jquery.data-tables.min.js')
script(src='assets/datatables/data-tables.bootstrap4.min.js')
script(src='assets/theme/js/script.js')
